/* --- Main --- */
* {
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

/* --- Header --- */
header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: center;
  width: 100%;
}

header img {
  height: 65px;
}

/* --- Overview & FAQ --- */
.overview {
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-around;
}

.overview p {
  color: #666666;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-style: italic;
  padding: 0 30px;
}

.overview p span {
  color: #4C4C4C;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.overview-btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.overview-btn-container button {
  background: #4C4C4C;
  border: 0;
  color: #ffffff;
  font-size: 15px;
  height: 40px; 
  letter-spacing: 1px;
  width: 150px;
}

.overview-btn-container button:hover, button:active {
  background: #000000;
}

/* --- Ingredient Cards --- */
.ingredient-cards {
  margin: 0;
  padding: 35px 0 0 0;
  width: 100%;
}

.ingredient-cards li {
  border-bottom: 1px solid #D3D3D3;
  border-radius: 2px;
  list-style: none;
  margin: 0 7px 7px 7px;
  padding: 15px 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  letter-spacing: .5px;
}

.card h2 {
  color: #4C4C4C;
  font-size: 22px;
  font-weight: 700;
}

.card p {
  color: #666666;
  font-size: 17px;
  font-style: italic;
  margin-top: 0;
}

.card img {
  height: 100px;
  width: 100px;
}

.card-description p {
  font-size: 13px;
  font-style: italic;
  letter-spacing: .5px;
  margin-top: 0;
}

/* --- Ingredient Stories --- */
.ingredient-stories, .ingredient-stories-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0 0;
  width: 100%;
}

.ingredient-stories li , .ingredient-stories-desktop li {
  color: #666666;
  list-style: none;
  font-size: 15px;
  font-style: italic;
  padding: 20px;
}

.ingredient-stories li span, .ingredient-stories-desktop li span {
  color: #4C4C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.ingredient-stories-desktop {
  display: none;
}

/* --- Media Queries --- */
@media screen and (min-width: 760px) {

  /* --- Main --- */
  main {
    display: flex;
  }

  /* --- Overview --- */
  .overview {
    border-right: 1px solid #D3D3D3;
    height: 100vh;
    justify-content: flex-start;
    min-width: 350px;
    width: 350px;
  }

  /* --- Ingredient Cards --- */
  .center {
    -webkit-overflow-scrolling: touch;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: scroll;
    width: 100%;
  }

  .ingredient-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1100px;
    padding: 0;
  }

  .ingredient-cards li {
    max-width: 250px;
    width: 100%;
  }

  .card {
    flex-direction: column-reverse;
  }

  /* ---Ingredient Stories --- */
  .ingredient-stories-desktop {
    display: block;
  }

  .ingredient-stories {
    display: none;
  }
}
