/* --- Main --- */
* {
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  margin: 0;
  width: 100%;
}

/* --- Header --- */
header {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: center;
  width: 100%;
}

header img {
  height: 65px;
}

/* --- Overview & FAQ --- */
.overview {
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-around;
}

.overview p {
  color: #666666;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-style: italic;
  padding: 0 30px;
}

.overview p span {
  color: #4C4C4C;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.overview-btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.overview-btn-container button {
  background: #4C4C4C;
  border: 0;
  color: #ffffff;
  font-size: 15px;
  height: 40px; 
  letter-spacing: 1px;
  width: 150px;
}

.overview-btn-container button:hover, button:active {
  background: #000000;
}

/* --- Ingredient Images --- */
/* .ingredient-images {
  height: 150px;
  margin: 0;
  padding: 0 0 10px 0;
  position: relative;
  width: 100%;
}

.ingredient-images li {
  list-style: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.ingredient-images li img {
  -webkit-animation: fade 40s linear infinite;
  animation: fade 40s linear infinite;
  filter: grayscale(100%);
  height: 100%;
  object-fit: cover;
  opacity: 0;
  width: 100%;
}

@-webkit-keyframes fade {
  0% { opacity: 0; }
  7.5% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade {
  0% { opacity: 0; }
  7.5% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

#photo-one { 
  -webkit-animation-delay: 0s;
  animation-delay: 0s; 
}
#photo-two { 
  -webkit-animation-delay: 5s;
  animation-delay: 5s; 
}
#photo-three { 
  -webkit-animation-delay: 10s;
  animation-delay: 10s; 
}
#photo-four { 
  -webkit-animation-delay: 15s;
  animation-delay: 15s; 
}
#photo-five { 
  -webkit-animation-delay: 20s;
  animation-delay: 20s; 
}
#photo-six { 
  -webkit-animation-delay: 25s;
  animation-delay: 25s; 
}
#photo-seven { 
  -webkit-animation-delay: 30s;
  animation-delay: 30s; 
}
#photo-eight { 
  -webkit-animation-delay: 35s;
  animation-delay: 35s; 
} */

/* --- Ingredient Cards --- */
.ingredient-cards {
  margin: 0;
  max-width: 760px;
  padding: 35px 0 0 0;
  width: 100%;
}

.ingredient-cards li {
  border-bottom: 1px solid #D3D3D3;
  border-radius: 2px;
  list-style: none;
  margin: 0 7px 7px 7px;
  max-width: 760px;
  padding: 15px 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  letter-spacing: .5px;
}

.card h2 {
  color: #4C4C4C;
  font-size: 22px;
  font-weight: 700;
}

.card p {
  color: #666666;
  font-size: 17px;
  font-style: italic;
  margin-top: 0;
}

.card img {
  height: 100px;
  width: 100px;
}

.card-description p {
  font-size: 13px;
  font-style: italic;
  letter-spacing: .5px;
  margin-top: 0;
}

/* --- Ingredient Stories --- */
.ingredient-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0 0;
  width: 100%;
}

.ingredient-stories li {
  color: #666666;
  list-style: none;
  font-size: 15px;
  font-style: italic;
  padding: 20px;
}

.ingredient-stories li span {
  color: #4C4C4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* --- Media Queries --- */
@media screen and (min-width: 760px) {

  /* --- Main --- */
  main {
    display: flex;
    height: calc(100% - 90px);
    overflow-y: hidden;
  }

  /* --- Ingredient Images --- */
  .ingredient-images {
    height: 100%;
    max-width: 625px;
  }

  /* --- Ingredient Cards --- */
  .ingredient-cards {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 0;
  }
}
